body {
margin: 0;
background-color: rgb(255, 201, 226);
}


/*bovenste balk items*/

.icon {
    background-color: rgb(218, 7, 88);
    padding-bottom: 5px;
    display: flex;
}

.icon img {
    padding-left: 100px;
    padding-top: 3px;
}



.zoekbalk {
   
    background-color: rgb(255, 255, 255);
    max-height: 45px;
    margin: auto;
    border-radius: 20px;
}

.zoekbalk input {
    margin: auto;
  padding-right: 165px;
  padding-left: 10px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
   font-family: 'Figtree', sans-serif;
}

.zoekbalk input::after {
    content: "\1F50D";
}

.zoekbalk img {
    margin-left: -125px;
    margin-bottom:  -4px;
}

.zoekbalk p::after {
    content: "\1F50D";
    margin-left: 150px;
}


/*nav bar*/

.nav-bar ul {
    list-style-type: none;
    text-align: center;
    background-color: rgb(255, 226, 231);
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-bar li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 8%;
    font-family: 'Figtree', sans-serif;
color: black;
}

.nav-bar {
margin-top: -16px;
}

.nav-bar li:hover {
background-color: rgb(254, 254, 254);
padding-top: 8px;
padding-bottom: 8px;
margin-top: -9px;
margin-bottom: -9px;
padding-right: 4px;
padding-left: 4px;
transition: 0.8s;
border-radius: 8px;
}

/*body images*/

.header-text-2 {
    text-align: center;
margin: 0px auto;
    font-family: 'Figtree', sans-serif;
    background-color: rgb(255, 192, 222);
    max-width: 600px;
    margin-top: 55px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
  text-shadow: 15px black;
}


.parent { height: 450px; width: 710px; overflow: hidden;}
      .element {float: left; height: 500px; width: 716px; backgroundcolor: grey; }
      .slides {width: calc(716px * 4); animation: slideShow 10s ease infinite;}
      .images {width: 100%; height: 100%;}
      @keyframes slideShow {
         20% {margin-left: 0px;}
         40% {margin-left: calc(-716px * 1);}
         60% {margin-left: calc(-716px * 2);}
         80% {margin-left: calc(-716px * 3);}
      } 

      .parent {
       margin-left: 30px;
        margin-top: 100px;
        border: 6px solid rgb(255, 255, 255);
        border-radius: 10px;
      }


      /*introductie-text*/

      .introductie-text {
        max-width: 650px;
        display: flex;
        float:right;
        margin-top: 145px;
        margin-right: 150px;
        font-size: 1.6rem;
        font-family: 'Figtree', sans-serif;
        letter-spacing: 2px;
        line-height: 35px;
        background-color: rgb(255, 192, 222);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: -6px;
        padding-bottom: -6px;
        border-radius: 10px;

      }